html {
    font-size: 14px;
    font-family: 'DM Sans', sans-serif !important;
}

body, input, textarea, button {
    font-family: 'DM Sans', sans-serif;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
        
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: rgb(189 223 254);
}

.my-label-descriptor{
    margin-bottom:0px;
    margin-top:0px;
}

.active-contributor{
    background-color:lawngreen;
}

.inactive-contributor {
    margin-top: 3px;
    margin-left:5px;
}

.table-hover tbody tr:hover {
    background-color: #f5f5f5;
}

.activity-label{
    background-color:rgb(194, 193, 193);
    border-radius:10px;
    padding-left:5px;
    padding-right:5px;
    margin-left:10px;
   
}